//! **************************************************************************
// Written by: Map P.20131013 on Sat Jan 18 10:26:30 2020
//! **************************************************************************

SCHEMATIC START;
COMP "jb5" LOCATE = SITE "R16" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "ps2c" LOCATE = SITE "R12" LEVEL 1;
COMP "ps2d" LOCATE = SITE "P11" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "L14" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "N17" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "R17" LEVEL 1;
COMP "btn<0>" LOCATE = SITE "B18" LEVEL 1;
COMP "btn<1>" LOCATE = SITE "D18" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

